<header class="header">
    <div class="header-content">
        <div class="header-text">
            <img src="{{#if langPath}}../{{/if}}assets/logo.svg" alt="JSON Utils Logo" class="logo">
            <div class="header-title-group">
                <h1>JSON Utils</h1>
                <p>{{headerSubtitle}}</p>
            </div>
        </div>
        <nav class="header-nav">
            <a href="{{#if langPath}}/{{langPath}}{{else}}/{{/if}}index.html" class="nav-link{{#if isHome}} active{{/if}}">
                <i class="fas fa-home"></i> {{t "nav.home"}}
            </a>
            <a href="{{#if langPath}}/{{langPath}}{{else}}/{{/if}}jsonfilter.html" class="nav-link{{#if isJsonFilter}} active{{/if}}">
                <i class="fas fa-filter"></i> {{t "nav.jsonFilter"}}
            </a>
            <a href="{{#if langPath}}/{{langPath}}{{else}}/{{/if}}formatconvert.html" class="nav-link{{#if isFormatConvert}} active{{/if}}">
                <i class="fas fa-exchange-alt"></i> {{t "nav.formatConvert"}}
            </a>
            <a href="{{#if langPath}}/{{langPath}}{{else}}/{{/if}}about.html" class="nav-link{{#if isAbout}} active{{/if}}">
                <i class="fas fa-info-circle"></i> {{t "nav.about"}}
            </a>
            <select class="language-dropdown-select" onchange="window.location.href=this.value">
                {{#ifEqual currentLang "en"}}
                <option value="/{{#if isJsonFilter}}jsonfilter{{else}}{{#if isFormatConvert}}formatconvert{{else}}{{#if isAbout}}about{{else}}index{{/if}}{{/if}}{{/if}}.html" selected>English</option>
                <option value="/cn/{{#if isJsonFilter}}jsonfilter{{else}}{{#if isFormatConvert}}formatconvert{{else}}{{#if isAbout}}about{{else}}index{{/if}}{{/if}}{{/if}}.html">中文</option>
                {{else}}
                <option value="/{{#if isJsonFilter}}jsonfilter{{else}}{{#if isFormatConvert}}formatconvert{{else}}{{#if isAbout}}about{{else}}index{{/if}}{{/if}}{{/if}}.html">English</option>
                <option value="/cn/{{#if isJsonFilter}}jsonfilter{{else}}{{#if isFormatConvert}}formatconvert{{else}}{{#if isAbout}}about{{else}}index{{/if}}{{/if}}{{/if}}.html" selected>中文</option>
                {{/ifEqual}}
            </select>
        </nav>
    </div>
</header>
